.signupUSer-Container{

}
.start-Container{
    height: 100%;
    width: 100%;
}
.imageStore{
    height: 30vh;
    width: 400px;

    margin: auto;

}
.imageStore img {
     width: 100%;
     margin-top: 10%;
     height: 100%;
}
.btn-Start{
    height: 100px;
    width: 200px;
    margin: auto;



}
.btn-Start button{
    height: 80%;
    width: 100%;
   background-color: #8dc63f;
    color: white;
    font-weight: bold;
   
    border: none;
    cursor: pointer;
    margin-top: 70%;
}
.btn-Start button:hover{
   background-color: #54880b;
   transition: 0.7s;
}
.sinupContainer{
  background-color: #8dc63f;
  height: 180vh;
  width: 100%;
  align-items: center;
  padding: 15%;
}
.sinupInner-Container{
  height: 59%;
    width: 500px;
    margin: auto;
    background-color: white;
    border: none;
}
.sigup-Image{
    margin: auto;
    height: 170px;
    width: 90%;
}
.sigup-Image img{
    width: 100%;
    height: 100%;
}
.sinupInner-Container input{
    margin-top: 5%;

}
.sigupButton{
    width: 90%;
    margin-top: 5%;
    height: 40px;
    border: none;
   
    background-color: #54880b;
    color: white;
    font-weight: bold;

}
.sigupButton:hover{
 
    transition: 0.6s;
    background-color: #8dc63f;

}
@media (max-width:750px){
    .sinupInner-Container{
        width: 400px;
        height: 49%;
    }
}
@media (max-width:550px){
    .sinupInner-Container{
        width: 370px;
        height: 40%;
    }
}
.img-container{
    height: 170px;
    width: 300px;
}
.img-container img{
  height: 100%;
  width: 100%;
}
.container-fluid{
    width: 70%;
}
.header-container{
    display: flex ;
    color: #8dc63f;
}
.image1-container{
    display: flex;
}
.space_container{
    width: 50%;
}
.image1-container div i{
    height: 100px;
}
.heading-Container{
    width: 600px;
}
.heading-Container h1{
    color: #8dc63f;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.i-container i{
color: #54880b;
}
.image1-Container{
    width: 100%;
    height: 50vh;
    

}
.image1-Container img {
    width: 80%;
    height: 100%;
    margin: auto;
}
.adminItemContainer{
    height: 200px;
    width: 400px;
    border: 1px solid #54880b;
    margin-top: 5%;
    display: flex;
    
}
.adminItemsImage{
    height: 100%;
    width: 20%;
}
.adminItemsImage img{
    width: 100%;
    height: 100%;
}
.signupUSer-Container{

}
.start-Container{
    height: 100%;
    width: 100%;
}
.imageStore{
    height: 40vh;
    width: 300px;

    margin: auto;

}
.imageStore img {
     width: 100%;
     margin-top: 10%;
     height: 100%;
}
.text-start{
    margin-left: 100px;
    text-align: center;
    padding-top: 40px;

    display: inline-block;
    justify-content: center; 
    margin: auto;
    color: #54880b  ;
}
.text-start span{
    color: blue;
}
.btn-Start{
    height: 80px;
    width: 200px;
    margin: auto;




}
.btn-Start button{
    height: 80%;
    width: 100%;
   background-color: #8dc63f;
    color: white;
    font-weight: bold;
    border-radius: 10px;
   
    border: none;
    cursor: pointer;
    margin-top: 70%;
}
.btn-Start button:hover{
   background-color: #54880b;
   transition: 0.7s;
}

.sinupContainer{
    background-color: #8dc63f;
    height: 200vh;
    width: 100%;
    align-items: center;
    padding: 20%;
  }
  .sinupInner-Container{
    height: 79%;
      width: 45%;
      margin: auto;
      background-color: white;
      border: none;
      
  }
  .sigup-Image{
      margin: auto;
      height: 170px;
      width: 90%;
  }
  .sigup-Image img{
      width: 100%;
      height: 100%;
  }
  .sinupInner-Container input{
      margin-top: 5%;
  
  }
  .sigupButton{
      width: 40%;
      margin-top: 10%;
      height: 40px;
      border: none;
      background-color: #8dc63f;
      border-radius: 10px;
   
  
  }
  .sigupButton:hover{
      background-color: #54880b;
      transition: 0.6s;
  }
  .ancher1{
    color: blue;
    text-decoration: none;

    
    font-size: small;
    width: 40vh;
    margin: auto;
    margin-top: 20px;

    height: 30px;
  }
  .ancher2{

    color: blue;
    text-decoration: none;


    font-size: small;
    width: 40vh;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;

    height: 30px;
  }
  .text-home{
    margin-left: 100px;
    text-align: center;
    padding-top: 40px;

    display: inline-block;
    justify-content: left; 
    margin: auto;
    color: #54880b  ;
} 
.btn-Start{
    height: 100px;
    width: 200px;
    margin: auto;



}
.btn-Start button{
    height: 80%;
    width: 100%;
   background-color: #8dc63f;
    color: white;
    font-weight: bold;
   
    border: none;
    cursor: pointer;
    margin-top: 70%;
}
.btn-Start button:hover{
   background-color: #54880b;
   transition: 0.7s;
}
.sinupContainer{
  background-color: #8dc63f;
  height: 220vh;
  width: 100%;
  align-items: center;
  padding: 15%;
}
.sinupInner-Container{
  height: 59%;
    width: 500px;
    margin: auto;
    background-color: white;
    border: none;
}
.sigup-Image{
    margin: auto;
    height: 170px;
    width: 90%;
}
.sigup-Image img{
    width: 100%;
    height: 100%;
}
.sinupInner-Container input{
    margin-top: 5%;

}
.sigupButton{
    width: 90%;
    margin-top: 5%;
    height: 40px;
    border: none;
   
    background-color: #54880b;
    color: white;
    font-weight: bold;

}
.sigupButton:hover{
 transition: 0.6s;
    background-color: #8dc63f;

}
@media (max-width:750px){
    .sinupInner-Container{
        width: 400px;
        height: 49%;
    }
}
@media (max-width:550px){
    .sinupInner-Container{
        width: 370px;
        height: 40%;
    }
    .imageStore {
        height: 70px;
        width: 70px;
        margin: auto;
    }
    .sinupInner-Container {
        height: 25%;
        width: 220px;
        margin: auto;
        background-color: white;
        border: none;
    }
}
.img-container{
    height: 170px;
    width: 300px;
}
.img-container img{
  height: 100%;
  width: 100%;
}
.container-fluid{
    width: 70%;
}
.header-container{
    display: flex ;
    color: #8dc63f;
}
.image2-container{
    display: flex;
    height: 100px   ;
    width: auto;
    
}
.space_container{
    width: 50%;
}
.image1-container div i{
    height: 100px;
}
.heading-Container{
    width: 600px;
}
.heading-Container h1{
    color: #8dc63f;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.i-container i{
color: #54880b;
font-size: 50px;
padding: 12px;
}
.image1-Container{
 display: flex;
    width: 100%;
    height: 50vh;
    

}
font1{
    height: 40px;
    width: 25px;
    height: 70px;
    background-color: blue;
}
.image1-Container img {
    width: 80%;
    height: 100%;
    margin: auto;

}
.image2-Container img {
    width: 80%;
    height: 100%;
    margin: auto;
    
}
.inp1{
   border-radius: 20px;
   background-color: lightgray; 
}
.catogary{
    display: flex  ;
    justify-content: space-between;
    margin-left: 130px; 
}
.Catogary-head{
    text-align: left;
    margin-left: 130px;
}
.catogary-div img{
 height: 100px;   
}
.products{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    height:fit-content;
}
.pd1{
    width: 100px;
}
.pd1 img {
    width: 100%;
}
.pd2{
    margin: 20px;
    padding: 20px;
    height: auto;
}
.pd3{
    margin: 20px;
    padding: 20px;
    height: auto;
}
.img--{
    width: 150px;
}
.img-- img{
    width: 100%;
}
.Navbar{
    display:flex;
    justify-content:center;
    margin: 20px;
    padding: 10px;

}
.nav1{
    padding: 10px;
    font-size: 20px;
}
.carrts{
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
    width:max-content;
    border: 1px solid black;
    border-radius: 5px;
}